<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.agrio">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agrio"
        tools:targetApi="31">
        <activity
            android:name=".Flash"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Home"
            android:theme="@style/Theme.AppCompat.DayNight"></activity>
        <activity android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".Signup"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".Progress"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity android:name=".Aboutus"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity android:name=".Payments"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity android:name=".Govt"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>

        <activity android:name=".Products"
            android:parentActivityName=".Home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".Profile"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".Feedback"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".Help"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".Product_details"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".Equipments"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".Qrcode"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".Equip_Details"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity android:name=".Orders"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>